{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="pt-2">Training Model</h1>
    </div>
    <div class="card-body">
        {% if training_complete %}
        <div class="alert alert-success" role="alert">
            Pelatihan model berhasil diselesaikan!
        </div>
        {% endif %}
        
        <form method="POST">
            <button type="submit" class="btn btn-primary">Mulai Pelatihan</button>
        </form>
    </div>
</div>
{% endblock %}
